* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(to left,#663399 0%, #341f63 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


body::before {
    background-image: url("../assets/img/bg/code.png") ;
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("../assets/img/bg/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    z-index: 0;
}


.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem 1rem 3rem 3rem; 
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

button:hover:not(:disabled){
    transform: scale(1.05);
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

h2{
    margin-bottom: 10px;
}

.voices{
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 10%;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    background-color: #0d4385;
    z-index: 2;
}

.voices__select{
    font-size: 16px;
    width: 100%;
    background-color: #1763be;
    border: none;
}
/* footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
} */

footer{
    margin-block: 15px;
    z-index: 1;
}

footer span{
    display: flex;
    justify-content: center;
    padding-block: 12px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 60px;
}

footer ul li img{
    width: 60px;
}

@media screen and (max-width: 1250px) {

    h1 {
        font-size: 50px;
    }

    .container{
        justify-content: center;
    }

    .container__botao {
        font-size: 16px;
    }


    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-pessoa {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem
    }

    h2 {
        font-size: 20px;
    }
    .voices{
        width: 50vw;
    }
    
    .voices__select{
        font-size: 16px;
    }
}

@media (orientation: landscape) and (max-width: 1024px) and (max-height: 500px) {
    h1 {
        font-size: 25px;
        padding-bottom: 1rem;
    }

    .container {
        margin-top: 15vh;      
    }

    .container__botao {
        font-size: 10px;
        margin-top: 1rem;
        padding: 10px 16px;
    }

    .container__input {
        height: 10px;
        padding: 1.1rem;
    }


    .texto__paragrafo {
        font-size: 14px;
    }

    .container__imagem-pessoa {
        display: flex;
        width: 35%;
    }

    .container__conteudo {
        display: flex;
    }

    .container__informacoes {
        padding: 1rem
    }

    h2 {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .voices{
        width: 40vw; 
        height: 18vh;  
    }
    
    .voices__select{
        font-size: 14px;
        position: relative;
    }

    footer{
        margin-block: 10px;
        ul{
            gap: 30px;
            li img{
                width: 40px;
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 679px){
    h1 {
        font-size: 30px;
    }

    .container {
        margin-top: 10vh;
        justify-content: center;
        align-items: center;
    }

    .container__botao {
        font-size: 12px;
    }

    .container__input {
        height: 30px;
        padding: 12px 20px;
    }


    .texto__paragrafo {
        font-size: 22px;
    }

    .container__conteudo {
        display: flex;
        
    }

    .container__informacoes {
        padding: 1rem
    }

    h2 {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .voices{
        width: 65vw;
        height: 70px;
    }
    
    .voices__select{
        font-size: 14px;
        position: relative;
    }

    footer{
        margin-block: 10px;
        ul{
            gap: 30px;
            li img{
                width: 40px;
            }
        }
    }
}